# GitHub OAuth App
VITE_GITHUB_CLIENT_ID=

# 仓库信息（如果和默认值不同才需要改）
VITE_GITHUB_OWNER= # 填 github 名字
VITE_GITHUB_REPO= # 填 blog 项目(不是admin项目)的仓库名字
VITE_GITHUB_BRANCH= # 填 blog 项目的分支名字

# OAuth Proxy（本地测试需要部署 Worker）
# 这个是cloudflare给你的
VITE_OAUTH_PROXY_URL=
